@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.form {  
  text-align: center;  
}

.form__title {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  text-align: center;
}

.form__textarea {
  border: $border;  
  font-size: 1rem;
  margin: 0.5rem;
  padding: 1rem;
  width: 30%;
}

.form__button {
  color: $color;
  background-color: $color-bg-button; 
  border: $border-button-purple; 
  font-size: 1rem;
  font-weight: bold;
  margin: 1rem;
  padding: 1rem;
  width: 30%;
}

.form__list {  
  text-align: center;  
}

ul {
  text-align: left;
  list-style: none;
  padding: 1rem;
  margin: 10px 0;  
}

ul li::before {
  content: "📌";  
  margin-right: 0.5rem;
}


@include media-up(desktop) {
  .form__textarea {
    width: 25%;
  }

  .form__button {
    width: 25%;
  }
  
}
