@import 'variables';
@import 'mixins';

* {
  box-sizing: border-box;
  margin:0;
  padding: 0;
}

.button {
  margin-left: 0.5rem;
  padding: 0.2rem;
  border-radius: 0.3rem;
  color: white  
}

.button__delete {
  background-color: red;
  border-color: red;

}

.button__edit {
  background-color: blue;
  border-color: blue;
}


li {  
  padding: 0.2rem;
  margin: auto;
  width: 40%;  
} 

@include media-up(desktop) {
  .li {
    width: 25%;
  }

}

